@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
::-webkit-scrollbar {
  width: 12px;
}
/* ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
} */

/* Handle */
::-webkit-scrollbar-thumb {
  /* -webkit-border-radius: 10px; */
  /* border-radius: 10px; */
  background: rgba(7, 7, 7, 0.986); 
  /* background: rgba(243, 247, 59, 0.986);  */
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);  */
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(5, 5, 5, 0.4); 
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-image: url('../public/background.png');
  background-repeat: no-repeat;
  background-position: 40% -10%;
  background-attachment: fixed;
}

.container {
  display: grid;
  justify-items: center;
  place-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cargando {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  /* background-color: rgb(0, 255, 106); */
  border-radius: 20px;
}

.texto-cargando {
  color: white;
  padding-top: 20px;
  align-self: center;
}

.cargando span {
  font-size: 20px;
  text-transform: uppercase;
}

.pelotas {
  background-image: url('../app/favicon.ico');
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  animation: salto 0.3s alternate infinite;
  margin: 0 1vw
}

.pelotas:nth-child(2) {
  animation-delay: .18s;
}

.pelotas:nth-child(3) {
  animation-delay: .37s;
}

@keyframes salto {
  from {
    transform: scaleX(1.1);
  }

  to {
    transform:
      translateY(-50px) scaleX(1);
  }
}

textarea {
  resize: none;
}